!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'fr-fr', :lang => 'fr-fr' }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=UTF-8" }
    %title
      isocele
      = " | #{yield(:title)}" if yield(:title) # OPTIMIZE: ya pas mieux que if yield ?
    = # stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = # stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    = # /[if IE < 8]
    = #  = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = # stylesheet_link_tag 'notes.css', :media => 'screen, projection'
    %style{ :type => "text/css" }
      body { margin: 3px; background-color: #727374 }
    = yield :stylesheet
    = javascript_include_tag :defaults
    - javascript_tag do
      = update_page { |page| page.assign 'authenticityToken', form_authenticity_token }
      = yield :javascript
  %body
    .container
      #header.span-24.last
        
      #main.span-24.last
        #sidebar.span-8
        #content.span-16.last
          - if flash[:notice]
            #flash= flash[:notice]
          = yield
      #footer.span-24.last
        = yield(:footer) || render(:partial => '/layouts/footer')
      = render :partial => '/layouts/google_analytics' if Rails.env.production?
